@import "tailwindcss";
@plugin "tailwindcss-animate";
@config "../../tailwind.config.js";

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(42.3% 0.205 266.48);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(76.1% 0.134 85.29);
  --secondary-foreground: oklch(0.205 0 0);
  --success: oklch(62.7% 0.194 149.214);
  --success-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 475px;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html {
  font-family: var(--font-vazirmatn);
}

input,
textarea {
  font-feature-settings:
    "ss02" 0,
    "ss03" 0 !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Static Pages Content Section Style */
  .content {
    @apply space-y-6;
  }
  .content .section h2 {
    @apply text-primary mb-1 font-bold;
  }
  .content .section ul {
    @apply my-4 space-y-1.5 pr-3 text-[15px] text-gray-700;
  }
  .content .section ol {
    @apply text-primary mb-4 list-decimal space-y-3 pr-3 text-[15px] font-semibold;
  }
  .content .section ol li {
    @apply space-y-0.5;
  }
  .content .section ol li p {
    @apply font-normal text-gray-700;
  }
  .content .section ol li p a {
    @apply text-secondary underline underline-offset-3;
  }
  .content .section p {
    @apply mb-2 text-[15px] text-gray-800;
  }

  /* Business Center Accordion */
  .accordion-bc {
    @apply space-y-2;
  }
  .accordion-bc .ac-item {
    @apply border-0!;
  }
  .accordion-bc .ac-trigger {
    @apply cursor-pointer rounded-md bg-blue-50/50 px-3 text-base! text-blue-900 hover:no-underline! data-[state=open]:bg-linear-to-b data-[state=open]:from-blue-50/50 data-[state=open]:to-white;
  }
  .accordion-bc .ac-content {
    @apply space-y-2 px-3 text-[15px] text-blue-900;
  }
}

.login-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='420' height='800' preserveAspectRatio='none' viewBox='0 0 420 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1060%26quot%3b)' fill='none'%3e%3crect width='420' height='800' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1061%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L154.81 0L0 0.61z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 0.61L154.81 0L176.28 0L0 78.38z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 78.38L176.28 0L293.47 0L0 398.83z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 398.83L293.47 0L310.8 0L0 582.56z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M420 800L378.62 800L420 443.92z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M420 443.92L378.62 800L196.92000000000002 800L420 280.61z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M420 280.61L196.92000000000002 800L74.38000000000001 800L420 211.98000000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M420 211.98000000000002L74.38 800L41.48 800L420 105.08000000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1060'%3e%3crect width='420' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-22.62%25' y1='88.13%25' x2='122.62%25' y2='11.88%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1061'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
