@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "AnjomanMaxVF", AnjomanMax, Tahoma, system-ui, sans-serif;
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
    font-variation-settings: "DOTS" 1;
  }

  .font-enc {
    -moz-font-feature-settings: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
  }

  .font-latin {
    font-family: Arial, Helvetica, sans-serif;
    font-variation-settings: initial;
    font-feature-settings: normal;
  }
}









/* Static Pages Style */
.page-wrap.static .text-wrap h2 {
  @apply mt-8 mb-2 text-lg font-semibold text-secondary first:mt-0;
}

.page-wrap.static .text-wrap p {
  @apply mb-3 leading-7 last:mb-0;
}

.page-wrap.static .text-wrap a {
  @apply underline text-primary hover:text-secondary hover:no-underline;
}

.page-wrap.static .text-wrap strong {
  @apply font-semibold;
}

.page-wrap.static .text-wrap ul {
  @apply pr-3 my-3;
}

.page-wrap.static .text-wrap ul li {
  @apply mb-2;
}

.page-wrap.static .text-wrap ol li {
  @apply mt-8 mb-2 mr-5 text-lg font-semibold first:mt-0;
}

.page-wrap.static .text-wrap .section {
  @apply p-5 mb-8 border border-r-4 border-blue-100 rounded-tl-xl rounded-bl-xl sm:p-8 bg-slate-50 last:mb-0;
}

.page-wrap.static .text-wrap .section h2 {
  @apply mb-5 text-xl text-center sm:mb-3 sm:text-right;
}

.page-wrap.static .text-wrap .item h3 {
  @apply text-lg font-semibold text-primary;
}

.page-wrap.static .text-wrap .item ul {
  @apply pr-0 mb-8 sm:pr-3;
}

.page-wrap.static .text-wrap .item ul li {
  @apply sm:list-disc sm:list-inside;
}

.page-wrap.static .page-head {
  @apply flex justify-center content-center mx-3 sm:mx-auto sm:max-w-[95%] relative;
}

.page-wrap.static .page-head .content {
  @apply max-w-[1144px] w-full mx-auto absolute top-0 left-0 right-0 h-full flex flex-wrap items-center justify-center sm:justify-start;
}

.page-wrap.static .page-head .content .wrap h1 {
  @apply font-bold text-[34px] sm:text-[38px] mb-1 sm:mb-3 text-center sm:text-right;
}

.page-wrap.static .page-head .content .wrap h2 {
  @apply font-medium text-[21px] sm:text-[22px] text-center sm:text-right;
}

/* Off-Canvas */
.menu ul li a {
  @apply mb-3 font-medium text-blue-900 border border-blue-300 border-dashed hover:text-white hover:bg-blue-300 focus:bg-blue-300;
}

/* Main Scroll Style */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7eed8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8aa3c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a4b0e4;
}

* {
  scroll-behavior: smooth !important;
}

.checkbox {
  direction: ltr;
}

/* .checkbox:checked {
  background-image: linear-gradient(-45deg,
      transparent 65%,
      hsl(var(--chkbg)) 65.99%),
    linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
    linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
    linear-gradient(45deg,
      hsl(var(--chkbg)) 30%,
      hsl(var(--chkfg)) 30.99%,
      hsl(var(--chkfg)) 40%,
      transparent 40.99%),
    linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%) !important;
} */

/* Button Styles */
.btn-lime {
  @apply px-3 bg-lime-300 border-lime-300 text-lime-900 hover:bg-lime-400 hover:border-lime-400 hover:text-lime-950;
}

.shadow-blx {
  box-shadow: 0 3px 0 black;
}

.shadow-tlx {
  text-shadow: 0 2px 0 black;
}